body {
    background-image: url(assets/webgifs/images/starry.png);
}
.constrow {
    display: flex;
    padding: 12px;
    flex: 34.59%;
    justify-content: center;
    align-content: center;
    margin: auto;
}
.window,
#main .title-bar {
    background: linear-gradient(90deg, #0000ff, #ff003c);
    align-content: center;
}
.window,
#main {
    width: 1483px;
    height: max-content;
    padding: 3px;
}
.window {
    margin: 2px;
}
.window,
#vertmenu {
    width: fit-content;
    height: fit-content;
}
.vertmenu {
    display: block;
    padding: 8px 7px 7px 7px;
    width: 144px;
    height: fit-content;
    text-decoration: none;
    margin: auto;
    background-image: url(assets/webgifs/images/starrynew.png);
    background-attachment: scroll;
}
#vertmenu button {
    padding: 12px;
    margin: 3px;
}
.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1px;
    height: 100vh;
    justify-content: center;
    width: auto;
}
.bttnrowbox {
    display: flex;
    flex-direction: column;
}
.bttnrowbox h5 {
    align-content: center;
    justify-content: center;
    display: flex;
    font-size: 17px;
    margin-bottom: 5px;
}
.bttnrowbox p {
    align-content: center;
    justify-content: center;
    display: flex;
    font-size: 14px;
    text-align: center;
}
.bttnrowbox .pressme {
    width: fit-content;
    margin: auto;
    padding: auto;
}
.bttnrowbox #madebttns {
    width: fit-content;
    margin: auto;
    margin-top: 5px;
}
.bttnrow img {
    padding: 4px;
    float: left;
    margin-bottom: 4px;
    margin: 0.9px;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.secondrow {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-content: center;
}
.stamp img {
    width: 88px;
    height: auto;
    margin: 5px;
}
.stamp {
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex: 23.1%;
    flex-direction: row;
}
#virusdivider {
    width: 51vh;
    height: 58px;
}
#popup1 .window-body {
    width: 183px;
    height: max-content;
    text-align: center;
    padding: 8px 7px 7px 7px;
}
#popup1 textarea {
    resize: none;
    height: 33px;
    width: 78%;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

.avi {
    border: double 2px #ff0044;
    background-image: url(assets/webgifs/backgrounds/bluecircuit.png);
    width: fit-content;
    height: fit-content;
}
#avistuff {
    flex: auto auto auto;
    margin: auto;
    background-image: url(assets/webgifs/images/starrynew.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#avistuff .openingavistuff {
    padding: 10px;
    display: flex;
    flex-direction: row;
    height: fit-content;
    flex-basis: auto;
    flex-grow: 1;
}
.avitext h2 {
    padding-left: 19px;
    margin-top: 0;
    color: #ff0044;
}
.avitext p {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 14px;
    margin: auto;
    color: #ff0044;
    font-size: 17px;
}
.amdinotimerint p {
    font-size: 26px;
    text-align: center;
    padding-bottom: 0;
    padding-top: 2px;
    margin: 0;
}
.amdinotimer {
    float: none;
    margin: 1px auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding-left: 14px;
}
.amdinotimer .time {
    color: #ff0044;
    font-size: 21px;
    text-align: center;
    padding-bottom: 0;
    padding-top: 2px;
    margin: 1px auto;
    justify-content: center;
}
.amdinotimer p {
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    padding-left: 0;
}
#marriage {
    height: auto;
    width: 50px;
    flex-grow: 1;
}
.aviid {
    justify-content: center;
    object-position: center;
    padding: 5px;
    margin: 0;
    align-content: center;
    display: grid;
    grid-template-rows: auto auto auto;
}
.aviid img {
    width: 83px;
    height: 50px;
    padding: 5px;
    overflow: hidden;
    flex: 0;
}
.images {
    display: flex;
    flex-direction: column;
    flex: 1 30 100px;
}
.extrabuttonss {
    padding: 5px;
}
.extrabuttonss img {
    height: 35px;
    width: 100px;
    margin: 3px;
    float: left;
}
.icons {
    display: flex;
    flex-direction: column;
    flex: 1 30 100px;
}
.iconsinner span {
    width: 32px;
    height: 32px;
    float: left;
    margin: 5px;
}
#world {
    background: url(assets/webgifs/icons/98/world-0.png);
}
#world:hover {
    background: url(assets/webgifs/icons/98/world-3.png);
}
#MyComputer {
    background: url(assets/webgifs/icons/98/computer98flat.png);
}
#MyComputer:hover {
    background: url(assets/webgifs/icons/98/computer98dith.png);
}
#camera {
    background: url(assets/webgifs/icons/98/cameragrad.png);
}
#camera:hover {
    background: url(assets/webgifs/icons/98/cameradith.png);
}
#cardreader {
    background: url(assets/webgifs/icons/98/cardreaderflat.png);
}
#cardreader:hover {
    background: url(assets/webgifs/icons/98/cardreaderdith.png);
}
/*Code below is what i used to make my first userboxes. keeping it here for archival sake:*/
/*
.userbox {
    width: auto;
    font-family: sans-serif;
    border: 3px solid;
    border-collapse: collapse;
    box-sizing: border-box;
}
.id {
    height: 83px;
    width: 90px;
    font-weight: bold;
    box-sizing: border-box;
    line-height: 2.2em;
}
.id img {
    border: 5px solid #44A3C2;
    box-sizing: border-box;
    line-height: 2.2em;
}
.info {
    border: 1px solid;
    font-size: 24px;
    font-weight: bold;
}
#namecred {
    font-size: 4px;
    font-weight: auto;
    text-align: left;
    line-height: 0;
    position: absolute;
    opacity: 40%;
    top: 73px;
    right: 158px;
}
*/
