body {
    background-image: url(assets/webgifs/images/starry.png);
}
.constrow {
    display: flex;
    padding: 12px;
    flex: 34.59%;
    justify-content: center;
    align-content: center;
}
.window,
#main .title-bar {
    background: linear-gradient(90deg, #0000ff, #ff003c);
    align-content: center;
}
.window,
#main {
    width: auto;
    height: max-content;
    padding: 2px;
}
.window {
    margin: 2px;
}
.window,
#vertmenu {
    width: fit-content;
    height: fit-content;
}
.vertmenu {
    display: block;
    padding: 8px 7px 7px 7px;
    width: 144px;
    height: fit-content;
    text-decoration: none;
    margin: auto;
    background-image: url(assets/webgifs/images/starrynew.png);
    background-attachment: scroll;
}
#vertmenu button {
    padding: 12px;
    margin: 3px;
}
.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1px;
    height: 100vh;
    justify-content: center;
}
.bttnrowbox {
    display: flex;
    flex-direction: column;
}
.bttnrowbox h5 {
    align-content: center;
    justify-content: center;
    display: flex;
    font-size: 17px;
    margin-bottom: 5px;
}
.bttnrowbox p {
    align-content: center;
    justify-content: center;
    display: flex;
    font-size: 14px;
    text-align: center;
}
.bttnrowbox button {
    width: fit-content;
    margin: auto;
}
.bttnrowbox #madebttns {
    width: fit-content;
    margin: auto;
    margin-top: 5px;
}
.bttnrow img {
    padding: 4px;
    float: left;
    margin-bottom: 4px;
    margin: 0.9px;
    align-content: center;
    justify-content: center;
    text-align: center;
}
#virusdivider {
    margin: auto;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
#popup1 .window-body {
    width: 183px;
    height: fit-content;
    text-align: center;
    padding: 8px 7px 7px 7px;
}
#popup1 textarea {
    resize: none;
    height: 33px;
    width: 78%;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

/*Code below is what i used to make my first userboxes. keeping it here for archival sake:*/
/*
.userbox {
    width: auto;
    font-family: sans-serif;
    border: 3px solid;
    border-collapse: collapse;
    box-sizing: border-box;
}
.id {
    height: 83px;
    width: 90px;
    font-weight: bold;
    box-sizing: border-box;
    line-height: 2.2em;
}
.id img {
    border: 5px solid #44A3C2;
    box-sizing: border-box;
    line-height: 2.2em;
}
.info {
    border: 1px solid;
    font-size: 24px;
    font-weight: bold;
}
#namecred {
    font-size: 4px;
    font-weight: auto;
    text-align: left;
    line-height: 0;
    position: absolute;
    opacity: 40%;
    top: 73px;
    right: 158px;
}
*/
