body {
    background-image: url(assets/webgifs/images/starry.png);
}
.constrow {
    display: flex;
    padding: 12px;
    flex: 34.59%;
    justify-content: center;
    align-content: center;
}
.window,
#main .title-bar {
    background: linear-gradient(90deg, #0000ff, #ff003c);
    align-content: center;
}
.window,
#main {
    width: 99%;
    height: max-content;
    padding: 2px;
}
.window {
    margin: 8px;
}
.window,
#vertmenu {
    width: fit-content;
    height: fit-content;
}
.vertmenu {
    display: block;
    padding: 8px 7px 7px 7px;
    width: 144px;
    height: fit-content;
    text-decoration: none;
    margin: fit-content;
    background-image: url(assets/webgifs/images/starrynew.png);
    background-attachment: scroll;
}
#vertmenu button {
    padding: 12px;
    margin: 3px;
}
.container {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 5px;
    height: 100vh;
}
.bttnrowbox {
    display: flex;
    flex-direction: column;
}
.bttnrowbox h5 {
    align-content: center;
    justify-content: center;
    display: flex;
    font-size: 17px;
    margin-bottom: 5px;
}
.bttnrowbox p {
    align-content: center;
    justify-content: center;
    display: flex;
    font-size: 14px;
    text-align: center;
}
.bttnrowbox button {
    width: fit-content;
    margin: auto;
}
.bttnrowbox #madebttns {
    width: fit-content;
    margin: auto;
    margin-top: 5px;
}
.bttnrow img {
    padding: 4px;
    float: left;
    margin-bottom: 4px;
}
#virusdivider {
    margin: auto;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
